<h1>Search for venues aww yeaaah</h1>

<form action="/" method="post">
	Query: <input type="text" name="query" /> <br /> 
	City, State<input type="text" name="city" /> <br />  
	Limit: <input type="text" name="limit" />  <br />
	Radius (meters): <input type="text" name="radius" /> <br />  
	<input type="submit">  
</form> 